<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Type</th>
      <th>Key name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.type %></td>
        <td><%= property.type_id %></td>
        <td><%= property.key_name %></td>
        <td><%= property.value %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
